brightway2==2.4.2
bw-migrations==0.1
bw2analyzer==0.10
bw2calc==1.8.1
bw2data==3.6.4
bw2io==0.8.7
bw2parameters==0.7
wurst==0.3
presamples==0.2.5
premise==1.4.2
premise-gwp==0.7
pandas==1.4.1
numpy==1.22.2
seaborn==0.11.2
matplotlib==3.5.1
matplotlib-inline==0.1.3
jupyter notebook==6.4.8
